body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 24px;
}

.navbar {
  background-color: #516c81 !important;
  padding: 23px 0;
}
.navbar .logo {
  height: 30px;
}
.navbar .navbar-toggler {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.navbar .collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .collapse .navbar-nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 69%;
}
.navbar .collapse .navbar-nav .nav-link {
  font-size: 16px;
}

header {
  background-image: url("../img/header.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: 100px;
}
header .container {
  height: inherit;
}
header .container .header-top h3 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  padding-top: 76px;
  line-height: 150%;
}
header .container .header-center {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .container .header-center h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Playfair Display";
  text-align: right;
  line-height: 64px;
  margin-bottom: 30px;
}
header .container .header-center h4 {
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}
header .container .header-center .btnBlock {
  text-align: right !important;
}
header .container .header-center .btnBlock button {
  border-radius: 0;
  padding: 14px;
}
header .container .header-bottom {
  position: absolute;
  bottom: 100px;
}
header .container .header-bottom h4 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 10px solid white;
  padding: 20px 0px;
}
header .container .header-bottom p {
  font-size: 14px;
  line-height: 21px;
}

#about {
  background-color: #273947;
}
#about .advantages .advantage-item .advantage-info .advantage-desc {
  font-weight: 500;
  line-height: 24px;
}

section {
  background-color: #273947;
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    margin-left: 5% !important;
  }
}