ul {
  list-style: none;
  padding-left: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 24px;
}

.container {
  max-width: 1200px;
}

.navbar {
  background-color: #516c81 !important;
  padding: 23px 0;
}
.navbar .logo {
  height: 30px;
}
.navbar .navbar-toggler {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.navbar .collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .collapse .navbar-nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 69%;
}
.navbar .collapse .navbar-nav .nav-link {
  font-size: 16px;
}

header {
  background-image: url("../img/header.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: 98px;
}
header .container {
  height: inherit;
}
header .container .header-top h3 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  padding-top: 55px !important;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 30px !important;
}
header .container .header-center-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .container .header-center-parent .header-center h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Playfair Display";
  text-align: right;
  line-height: 64px;
  margin-bottom: 30px;
  font-weight: 400;
}
header .container .header-center-parent .header-center h4 {
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}
header .container .header-center-parent .header-center .btnBlock {
  text-align: right !important;
}
header .container .header-center-parent .header-center .btnBlock button {
  border-radius: 0;
  padding: 14px;
}
header .container .header-bottom h4 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 10px solid white;
  padding: 20px 0px;
}
header .container .header-bottom p {
  font-size: 14px;
  line-height: 21px;
}

#about {
  background-color: #273947;
  padding-top: 100px;
  /* .parentImg {
  	position: relative;
  	display: block;
  	&:before {
  		content: '';
  		width: 20px;
  		height: 100%;
  		background-color: $mainOrange;
  		position: absolute;
  		right: -5px;
  		bottom: -20px;
  	}
  	&:after {
  		content: '';
  		width: 95%;
  		height: 20px;
  		background-color: #f07f18;
  		position: absolute;
  		right: -5px;
  		bottom: -20px;
  	}
  } */
}
#about h1 {
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-size: 48px;
  margin-bottom: 67px;
  font-size: 48px;
  font-weight: 400;
}
#about .textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .textBlock .text p {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
}
#about .advantages {
  margin-top: 90px;
}
#about .advantages h3 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display";
  margin-bottom: 70px;
}
#about .advantages .advantage-item {
  margin-bottom: 50px;
}
#about .advantages .advantage-item .advantage-icon {
  margin-right: 33px;
}
#about .advantages .advantage-item .advantage-info .advantage-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
#about .advantages .advantage-item .advantage-info .advantage-desc {
  font-weight: 500;
  line-height: 24px;
  font-weight: 500;
  font-size: 15px !important;
}
#about .advantages .text p {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
}
#about .howWeWork {
  margin-top: 70px !important;
}
#about .howWeWork h3 {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 70px;
  font-weight: 400;
}
#about .howWeWork .work-item {
  margin-bottom: 50px !important;
}
#about .howWeWork .work-item .work-icon {
  margin-right: 20px;
}
#about .howWeWork .work-item .work-icon img {
  position: relative;
  top: -25px;
}
#about .howWeWork .work-item .work-info .work-title {
  font-size: 20px;
  margin-bottom: 20px;
}
#about .howWeWork .work-item .work-desc {
  font-size: 16px !important;
}
#about .takePart {
  margin-top: 50px !important;
}
#about .takePart h3 {
  font-family: "Playfair Display";
  font-size: 36px;
  margin-bottom: 70px;
  font-weight: 400;
}
#about .takePart .takePart-item .takePart-title {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px !important;
}

#catalog {
  background-color: #273947;
}
#catalog h1 {
  font-family: "Playfair Display";
  text-transform: uppercase;
  padding-top: 65px !important;
  margin-bottom: 70px !important;
  font-size: 48px;
  font-weight: 400;
}
#catalog .catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #162634;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
  margin-bottom: 20px;
  max-height: 332px;
}
#catalog .catalog-item img {
  margin-bottom: 50px;
}
#catalog .catalog-item .cat-title {
  text-align: center;
}

#partner {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: white !important;
  color: #273947;
}
#partner .partner-top {
  margin-bottom: 100px;
}
#partner .partner-top h1 {
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: 400;
}
#partner .partner-top .success {
  font-size: 20px;
  font-weight: 600;
}
#partner .row1 {
  margin-bottom: 80px;
}

#contact h1 {
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: normal;
  margin-bottom: 50px;
  font-weight: 400;
}
#contact .iframe {
  position: relative !important;
}
#contact .contact-map {
  height: 100% !important;
}
#contact .formBlock {
  background-color: #162634;
  padding: 100px 100px;
}
#contact .formBlock .ui.form input,
#contact .formBlock .ui.form textarea,
#contact .formBlock .ui.form button {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px;
  border-radius: unset;
  color: white;
}

footer {
  background-color: #516c81;
  padding-top: 95px;
}
footer .footer-logo {
  margin-bottom: 50px;
}
footer .footer-text {
  width: 85%;
}
footer h4 {
  font-size: 20px;
  margin-bottom: 37px;
}
footer .catalog-list {
  line-height: 40px;
}
footer .contact-list li {
  margin-bottom: 20px;
}
footer .contact-list li img {
  margin-right: 7px;
}
footer .contact-list .callMe-footer {
  padding: 10px 25px;
  border-radius: unset;
}

@media (min-width: 992px) {
  .navbar {
    padding: 30px 0 !important;
  }
  .navbar .navbar-nav {
    margin-left: 5% !important;
  }
}
@media (max-width: 991px) {
  .navbar {
    padding: 30px 0 !important;
  }

  .mapBlock {
    height: 430px;
  }
}
@media (max-width: 767px) {
  .header-top h3 {
    text-align: center !important;
  }

  .header-center-parent {
    margin-top: 40px;
    text-align: center;
  }

  .header-center h1 {
    font-size: 36px !important;
    text-align: center !important;
  }

  .header-center h4 {
    margin-bottom: 40px !important;
    text-align: center !important;
  }

  .header-center .btnBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .header-bottom {
    margin-top: 10px !important;
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .header-bottom {
    position: absolute;
    bottom: 100px;
  }
}
@media (max-width: 744px) {
  .header-top h3 {
    font-size: 18px !important;
    padding-top: 45px !important;
  }

  .header-center h1 {
    line-height: 45px !important;
    margin-bottom: 25px !important;
  }

  .header-bottom {
    display: none !important;
  }
  .header-bottom h4 {
    margin-bottom: 35px !important;
  }

  .advantage-item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center !important;
  }
  .advantage-item .advantage-icon {
    margin-right: 0 !important;
    margin-bottom: 15px !important;
  }

  .work-text {
    margin-top: 15px !important;
    margin-bottom: 20px;
  }

  .howWeWork h3,
.advantages h3,
.takePart h3 {
    text-align: center !important;
  }

  .work-item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center !important;
  }

  section h1 {
    text-align: center !important;
  }

  #partner {
    padding-bottom: 35px !important;
    padding-top: 50px !important;
  }
  #partner .row1 {
    margin-bottom: unset !important;
  }
  #partner .vert {
    margin-bottom: 30px !important;
  }
  #partner .partner-top {
    margin-bottom: 50px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  footer .col-lg-4 {
    margin-bottom: 40px !important;
  }

  #about .text,
.advantages .text {
    padding: 0 15px !important;
  }
  #about .row2,
.advantages .row2 {
    margin-top: unset !important;
  }

  #about {
    padding-top: 60px !important;
  }
  #about h1 {
    margin-bottom: 50px !important;
  }

  h1 {
    font-size: 36px !important;
  }

  .formBlock {
    background-color: #162634 !important;
    padding: 60px 35px !important;
  }
}
@media (max-width: 460px) {
  .header-center h1 {
    font-size: 25px !important;
  }
}